div.broadcast {
    padding: 30px 10px 10px 10px;
    max-width: 500px;
    margin: auto;
}

div.broadcast .broadcast-chat-form {
    padding: 20px 0 0 0;
}

div.broadcast textarea:focus, div.broadcast input:focus{
    outline: 0;
}

div.broadcast .broadcast-chat-form textarea {
    width: 100%;
    resize: none;
    height: 80px;
    padding: 10px;

    border: 2px solid #eee;
    border-radius: 5px 5px 0 0;
}

div.broadcast .broadcast-chat-form .message {
    display: flex;
    flex-direction: row;
}

div.broadcast .broadcast-chat-form .message input {
    flex: 1;
    padding: 10px;

    border: 2px solid #eee;
    border-radius: 0 0 0 5px;
    border-color: transparent transparent #eee #eee;
}

div.broadcast .broadcast-chat-form .message button {
    padding: 3px 10px;

    border: 2px solid #eee;
    border-radius: 0 0 20px 0;
    border: none;

    cursor: pointer;
}

div.broadcast .broadcast-chat-form .message button:hover {
    background: rgb(6,137,243);
    color: #fff;
}
