div.data {
    padding: 30px 10px 10px 10px;
    max-width: 500px;
    margin: auto;
}

div.data .upload-result {
    font-family: 'Courier New', Courier, monospace;
    overflow: auto;
}

div.data input {
    padding: 10px;

    border: 2px solid #eee;
    margin: 5px 0;
}
